{% extends "baseSencilla.twig" %}

{% set titulo = "Error 404" %}

{% block title %}{{ titulo }}{% endblock %}
{% block contentTitle %}{{ titulo }}{% endblock %}
{% block content %}
	<p>
		Esta dirección no corresponde a ninguna página o el contenido ya no existe.
	</p>
{% endblock %}