{% extends "base/base.api.twig" %}
{% block title %}Error 500{% endblock %}
{% block contentTitle %}
	<div class="alert alert-warning " role="alert"> 
		<h1 class="display-1" style="font-family: 'Caveat', cursive;">
            ¡El excremento ha ocurrido!
        </h1>
	</div>
{% endblock %}
{% block guestcontent %}
	<div class="row">
	  <div class="col-sm-5 text-center">
	        <img src="{{ base_url() }}/img/poop/{{ poop }}" alt="Popó!" class="img-responsive rounded float-right" >
	  </div>
	  <div class="col-sm-7">
	        <p>Los duendes dejaron de hacer su trabajo. La espiroqueta dejó de articular a la chafaldrana de al ladito de la chimistreta. Se botó la pichancha. Se cayó el sistema. El error de diciembre. La cuesta de enero. Algo no estaba contemplado. Errare caballum est. No, es que nadie me dijo. Nadie ni nada es perfecto. Es lo único que puedo decir. Ah y esto:</p>
	  </div>
	</div>
{% endblock %}