{# clases/Sitece16/Vistas/doc/estruc/logica.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Plan Anual
{% endblock %}
{% block content %}
<section id="estructuraLogica">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<p>
				api/plananual
			</p>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="text-center d-flex w-100 justify-content-between">
					:D
				</div>
			</a>
			<p>
			</p>
			<p>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h4 class="mb-1">ojbeto JSON: plananual</h4>
							<p class="mb-1">
								Existe un objeto JSON así como php llamado plananual, que tiene como llave compuesta sucursal/anio y eventualmente será documentado. 
							</p>
							<small style="font-family: 'Caveat', cursive;">
								Todo objeto tiene su lugar en el árbol de la vida... digo, en el árbol de la API.
							</small>
						</div>
					</a>
				</div>
			</p>
		</li>
	</ul>
</section>	
{% endblock %}