{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Perspectivas
{% endblock %}
{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<p>La documentación de este framework se divide en tres aspectos que abarcan la totalidad del programa describiendo las relaciones entre diferentes entidades desde perspectivas distintas:</p>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Estructura Lógica/Funcional: Describe las partes del framework en cuanto a la tarea lógica que desempeña y separa en distintas capas funcionales las principales librerías</li>
				<li class="list-group-item">Estructura Fisica/Archivos: Se describe en base al nivel jerárquico de cada archivo php, en el orden que normalmente se cargan en un request normal.</li>
				<li class="list-group-item">Jerarquía de Clases: Es un punto medio donde se definen la relación por niveles de las distintas clases, no siendo prioritario en qué archivo se encuentren sino la subdependencia entre clases padre-hijo</li>
			</ul>
		</li>
	</ul>
{% endblock %}