<section class="content-header">
	<h1>
		CRM
		<small>Control</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="?mod=home"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Pagina Principal</li>
	</ol>
</section>
<!-- Main content -->
<section class="content" style="height: 500px;">
	<!-- En esta seccion se inserta el codigo que llevara la pagina-->
	<iframe name="webhook_frame" style="border:none;" height=100% width=100% src="{{ sec }}">

	</iframe>
</section>