{% extends '/base/base.api.twig' %}
{% block title %}API SITECE16{% endblock %}
{% block contentTitle %}
	API Sitece16 v1
{% endblock %}
{% block content %}
	<p>Hay que explicar aquí cómo se accesa la API y qué servicios proporciona actualmente:</p>
	<ul>
		<li>Autentificación de USR y PWD</li>
		<li>Token</li>
		<li>PlanAnual</li>
	</ul>
{% endblock %}