{# clases/Sitece16/Vistas/index.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}Indice principal{% endblock %}
{% block contentTitle %}
	API Sitece16
{% endblock %}
{% block content %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h2 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Portada html del servicio API Sitece16
						</a>
					</h2>	
				</div>
				<div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						
						<p>
							La api Sitece16 es un servicio <a href="https://es.wikipedia.org/wiki/REST">REST</a> que responde mediante llamadas http identificadas mediante el encabezado <i>"Content/Type:application/json"</i>. Incluye un pequeño framework en el cual se facilita el acceso a algunas interfaces de usuario. 
						</p>
						<p>
							También tenemos por aquí la <a href="{{ base_url() }}/static">Documentación</a> referente al proyecto.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h2 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
							Puntos finales disponibles
						</a>
					</h2>	
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						Por el momento para cuestiones de pruebas estas llamadas funcionan solamente mediante GET y sí responden incluso si no se incluye el encabezado json:
							<ul>
								<li>
									/ultima/pagada/{cuenta}: Devuelve la última semana pagada en ese numero de cuenta. Por ejemplo:
									<br />
									<br />
									curl https://apisistematece/ultima/pagada/16300023
									<br />
									<br />
									Respuesta:
									<br />
									<br />
									{
										"Cuenta" : 16300023
										"Ultima semana pagada" : 41;
									}
								</li>
								<li>
									/plan/sucursal/{n_sucursal}/anio/{anio}/bimestre/{bimestre}/partida/{clave}: Devuelve el límite de gasto establecido para el bimestre indicado en la partida referenciada
								</li>
								<li>
									/sucursal/{n_sucursal}/anio/{anio}/bimestre/{bimestre}/partida/{clave}: Devuelve el total del gasto ejercido por la sucursal en esta partida 
								</li>
							</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<p style="font-family: 'Caveat', cursive;" > 
		Actualizado al 8 de Enero de 2017
	</p>
{% endblock %}