<!--
<li><a href='?mod=webhook'><i class='fa fa-plus-circle'></i> Mas...</a></li>
-->
	<li>
		<a href='?mod=webhook'>
			<i class='fa fa-plus-circle'></i> Mas...
		</a>
	</li>
{% if debug %}
	<li>
		<a href='?mod=webhook'>
			<i class='fa fa-bug'></i> menu debug: 
			<section id="debug">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">X-Debug:</h4>
						<dir>
							<pre class="card-text">
								{{ debug.exception }}
							</pre>
						</dir>
					{% for key, item in debug %}
							<h4 class="card-title">Debug: <code>{{ key }}</code></h4>                           
							<dir class="card-text">
								{{ dump(item) }}
							</dir>
						{% if not loop.last %}<hr class="m-y-md">{% endif %}  
					{% endfor %}
					</div>
				</div>
			</section>
		</a>
	</li>
{% endif %}
<script type="text/javascript">
function receiveMessage(event)
{
	window.top.location.reload();
  //alert(event.data);
}
addEventListener("message", receiveMessage, false);
</script>