{# clases/Sitece16/Vistas/doc/estruc/logica.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Reporte: cambiocoleg
{% endblock %}
{% block content %}
<section id="estructuraLogica">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<p>
				Este reporte incluye quienes pagaron vacaciones y quienes no.
			</p>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="text-center d-flex w-100 justify-content-between">
					Luego ponemos el reporte :D
				</div>
			</a>
			<p>
			</p>
			<p>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h4 class="mb-1">Y el reporte apa?</h4>
							<p class="mb-1">
								Al momento de formatear y poner linux se perdió en el infinito, afortunadamente pudimos recuperar el valioso documento: <a href="{{ base_url() }}/assets/cambiocoleg.txt"></a>Historia de las Consultas SQL en el contexto socioeconómico del México postmoderno, una obra magistral editada en su primera versión por la casa Porrúa en el año 2016. 
							</p>
							<small style="font-family: 'Caveat', cursive;">
								Postdata
							</small>
						</div>
					</a>
				</div>
			</p>
		</li>
	</ul>
</section>	
{% endblock %}