{# clases/Sitece16/Vistas/doc/estruc/empty.api.twig #}
{% extends 'base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Titulo
{% endblock %}
{% block content %}
<section id="estructuraLogica">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<p>
				Texto principal
			</p>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="text-center d-flex w-100 justify-content-between">
					Imagen encabezado
				</div>
			</a>
			<p>
			</p>
			<p>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h4 class="mb-1">Subtitulo</h4>
							<p class="mb-1">
								Texto secundario
							</p>
							<small style="font-family: 'Caveat', cursive;">
								Postdata
							</small>
						</div>
					</a>
				</div>
			</p>
		</li>
	</ul>
</section>	
{% endblock %}