{% spaceless %}
	{% extends "base.twig" %}
	{% set titulo = 'v5/tests'%}
	{% block head %}{% include 'base.css.twig' %}{% endblock %}
	{% block content %}
		{% include 'index.header.twig' %}
		<ul class="list-group list-group-flush">
            <li class="list-group-item">
            	Directorio de tests de clases, librerias, rutinas,..
            </li>
            <li class="list-group-item">
            	<h2>
            		v5/tests/ui
            	</h2>
            	Pruebas de elementos de Interfaz de Usuario: Plantillas, rejillas, formas, páginas estáticas (CTRL) y demás..
            </li>
            <li class="list-group-item">
            	<h2>
            		v5/tests/reportes
            	</h2>
            	Los reportes que se han hecho hasta el momento, el de alumnos que pagaron vacaciones y el de última vez que se pagó la colegiatura
            </li>
            <li class="list-group-item">
            	<h2>
            		v5/tests/plan
            	</h2>
            	Las pruebas a las distintas clases que conforman el Plan de Gastos. Hasta el momento son: 
            	<ul>
					<li>CatalogoDeGastos</li>
					<li>GastoSemanal</li>
					<li>GastoProyectado</li>
					<li>Partida</li>
					<li>RepoCatalogo</li>
					<li>RepoGastosProyectados</li>
				</ul>
			</li>
        </ul>
	{% endblock %}
{% endspaceless %}

