{% extends "baseSencilla.twig" %}

{% set titulo = "Prueba de Plantillas" %}

{% block title %}{{ titulo }}{% endblock %}
{% block contentTitle %}{{ titulo }}{% endblock %}
{% block content %}
	<p>
		Esta plantilla es una prueba de cómo se carga una plantilla base (<i>baseSencilla.phtml</i>) y se instancian bloques.
	</p>
{% endblock %}