{# clases/Sitece16/Vistas/doc/estruc/logica.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	tests de UI
{% endblock %}
{% block content %}
<section id="estructuraLogica">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<p>
				Algunas pruebas que se hicieron de componentes la interfaz de usuario, principalmente formas de login, rejillas de datos acá tipo excel y algunos malabares con las plantillas twig. Por ahí andan, luego las cuelgo a esta página
			</p>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="text-center d-flex w-100 justify-content-between">
					twiggy twig! vue.js!! AJAX°!!! JSON°!!!
				</div>
			</a>
			<p>
			</p>
			<p>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h4 class="mb-1">Prueba de ui #1</h4>
							<p class="mb-1">
								Hola, soy el contenido #1.
							</p>
							<small style="font-family: 'Caveat', cursive;">
								Esto debería tener las pruebas de datagrids, pero ya se va a terminar el día.
							</small>
						</div>
					</a>
				</div>
			</p>
		</li>
	</ul>
</section>	
{% endblock %}