				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#guest-nav">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{{ base_url() }}"><img src="/img/apisitece.png" width="120" height="25" alt="Regresar a home"></a>
						</div>

						<div class="collapse navbar-collapse" id="guest-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-hover="dropdown">ingrese su cuenta! <span class="caret"></span></a>
									<ul id="login-dp" class="dropdown-menu">
										<li>
											<div class="row">
												<div class="col-md-12">
													Ingresar mediante
													<div class="social-buttons">
														<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
														<a href="#" class="btn btn-tw"><i class="fa fa-google"></i> GMail</a>
													</div>
													 o
													<form class="form" role="form" method="post" action="{{ base_url() }}/login" accept-charset="UTF-8" id="login-nav">
														<div class="form-group">
															<label class="sr-only" for="exampleInputEmail2"># de usuario</label>
															<input type="text" name="username" class="form-control" id="username" placeholder="# de usuario" required>
														</div>
														<div class="form-group">
															<label class="sr-only" for="exampleInputPassword2">Contrase침a</label>
															<input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Contrase침a" required>
															<div class="help-block text-right"><a href="">Olvid칩 su contrase침a?</a></div>
														</div>
														<div class="form-group">
															<button type="submit" class="btn btn-primary btn-block">Ingresar</button>
														</div>
														<div class="checkbox">
															<label>
																<input type="checkbox"> Mantenerme registrado
															</label>
														</div>
													</form>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>
