				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand " href="#">
								<img src="/img/apisitece.png" class="d-inline-block align-top" width="120" height="25" alt="Regresar a home">
								
							</a>
<div class="navbar-text navbar-right">
							usr# {{ usuario.USR }} ({{ usuario.role }})
</div>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">docs <span class="caret"></span></a>
									<ul class="dropdown-menu dropdownhover-bottom" role="menu">
										<li><a href="/docs/intro">Documentación</a></li>
										<li class="divider"></li>
										<li><a href="/docs/intro/estruc/logica">Estruc. Lógica</a></li>
										<li><a href="/docs/intro/estruc/archivos">Estruc. Física</a></li>
										<li><a href="/docs/intro/estruc/clases">Estruc. Clases</a></li>
										<li class="divider"></li>
										<li class="dropdown">
											<a href="/docs/api" class="dropdown-toggle" data-hover="dropdown" role="button" aria-expanded="false">api <span class="caret"></span></a>
											<ul class="dropdown-menu dropdownhover-bottom" role="menu">
												<li><a href="/docs/intro/api/swagger">Swagger</a></li>
												<li class="divider"></li>
												<li><a href="/docs/intro/api/usuario">Usuario</a></li>
												<li><a href="/docs/intro/api/sucursal">Sucursales</a></li>
												<li><a href="/docs/intro/api/carrera">Carreras</a></li>
												<li class="divider"></li>
												<li><a href="/docs/intro/api/plananual">PlanAnual</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">tests <span class="caret"></span></a>
									<ul class="dropdown-menu dropdownhover-bottom" role="menu">
										<li><a href="/docs/tests/ui">ui</a></li>
										<li class="dropdown">
											<a href="#">PlanAnual<span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/docs/tests/plananual">Indice</a></li>
												<li class="divider"></li>
												<li><a href="/docs/tests/plananual/CatalogoDeGastos">CatalogoDeGastos</a></li>
												<li><a href="/docs/tests/plananual/GastoSemanal">GastoSemanal</a></li>
												<li><a href="/docs/tests/plananual/GastosProyectados">GastosProyectados</a></li>
												<li><a href="/docs/tests/plananual/Partida">Partida</a></li>
												<li><a href="/docs/tests/plananual/RepoCatalogo">RepoCatalogo</a></li>
												<li><a href="/docs/tests/plananual/RepoGastosProyectados">RepoGastosProyectados</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">reportes <span class="caret"></span></a>
									<ul class="dropdown-menu dropdownhover-bottom" role="menu">
										<li><a href="/docs/reportes/vacaciones">Vacaciones</a></li>
										<li><a href="/docs/reportes/cambiocoleg">CambioColeg</a></li>
									</ul>
								</li>
								<li>
									<a href="/logout" class="dropdown-toggle" data-hover="dropdown">salir</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>