{% extends 'base/base.api.twig' %}

{% block page_title %}{{ parent() }} | Login{% endblock %}

{% block stylesheets %}
<link href="/css/signin.css" rel="stylesheet">
{% endblock %}

{% block guestcontent %}
<form class="form-signin well well-sm" role="form" name="login" id="login" method="post">
    <h3 class="form-signin-heading">Por favor, regístrese:</h3>
    {% if flash['error'] is defined %}
    <div class="alert alert-danger">
        {{ flash.error }}
    </div>
    {% endif %}
    <input type="text" name="username" class="form-control" placeholder="# de usuario" value="{{ username }}" autofocus required>
    <input type="password" name="password" class="form-control" placeholder="contraseña" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
</form>
{% endblock %}
