{# clases/Sitece16/Vistas/doc/estruc/archivos.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Estructura Física
{% endblock %}
{% block content %}
<section id="estructuraArchivos">
	<p>
		Se hace aquí un recuento de los archivos principales del Microframework en el orden en que se van cargando al hacer un request a la página y con referencia al nombre de archivo que tienen y el directorio donde se encuentran:
	</p>
	{# Aquí inicia el dichoso acordeón pato #}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading comment" role="tab" id="headingZero">
					<h2 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
							app.php
						</a>
					</h2>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<p>
							Se puede decir que este archivo es el main(). El autoexec.com. El index.html. El initr. El principio y el fin, el alfa y el omega. Todo request http empieza y termina aquí.
						</p>
						<p> 
							Es el primer archivo que se carga, algo así como el index.html. Se encarga de registrar el autoloader por default del composer y el autoloader temporal que se está usando ahorita para cargar las clases de Sitece16. De momento también carga el ORM (idiorm, el manejador objeto-relación de bases de datos) y después carga cuatro archivos principales (click en el enlace para ver más, por favor):
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h2 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							../src/config.php
						</a>
					</h2>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						Archivo de configuración, en el se almacenan variables de entorno, opciones específicas de las dependencias (véase más adelante) y alguno que otro dato necesario para la inicialización del frontend o algúno de sus módulos. Actualmente se dedica en específico a lo siguiente --
						<ul>
							<li>
								<h4>
									errors
								</h4>
								: Configura algunas variables específicas de php.ini para mostrar errores forzósamente, en caso de que no estuviera el servidor configurado de esa manera.
							</li>
							<li>
								<h4>
									whoops
								</h4>
								: librería fresona que muestra errores en tiempo de ejecución mucho más presentable que el xdebug por default de php, y aparte te permite hacer click e ir directamente a editar el archivo donde se generó el error.
							</li>
							<li>
								<h4>
									logger
								</h4>
								: Algunas variables de inicialización de la librería que guarda logs: Monolog.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h2 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							../src/dependencias.php
						</a>
					</h2>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						En este archivo se instancia y configura un objeto muy importante en el desarrollo general de este frontend, llamado "contenedor" (sin comillas obviamente). Este objeto proporciona muchas facilidades como por ejemplo las plantillas html, el acceso a la base de datos, los permisos de usuarios y demás recursos que en general solo es necesario instanciar o cargar una vez y que se puede ir repartiendo esta única instancia a cualquier otra librería u objeto que requiera de estos recursos. Actualmente cuenta con las siguientes librerías:
						<ul>
							<li>
								<h4>
									vistas
								</h4>
								: es una instancia de la librería Twig de carga e instancia de plantillas html. Se usa principalmente en la sección de rutas, pero al instanciar objetos estos también tienen que ir cargando sus plantillas parciales.
							</li>
							<li>
								<h4>
									logger
								</h4>
								: instancia de la librería Monolog que permite guardar en disco duro un registro o bitácora de algún suceso en especial en el frontend, o de lo que se nos ocurra.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h2 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							../src/middleware.php
						</a>
					</h2>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						Este archivo contiene una serie de funciones o "callbacks" que se mandan llamar en todas o casi todas las formas distintas que hay de accesar app. Estas funciones se agregan directamente como métodos de la instacia app, mediante la llamada "add". En general se refieren a rutinas o funciones que deben realizarse siempre inicialmente, incluso antes de saber a qué ruta se quiere dirigir nuestro usuario. Estas son:
						<ul>
							<li>
								<h4>
									log inicial
								</h4>
								: Cada vez que se carga app.php, hay una función middleware aquí que realiza un pequeño registro en la bitácora.
							</li>
							<li>
								<h4>
									quita /
								</h4>
								: una función de utilería que se manda llamar si la dirección que nos piden tiene una diagonal al final, ya que por default no debe llevarla.
							</li>
							<li>
								<h4>
									auth
								</h4>
								: función que detecta si tenemos un usuario registrado o no
							</li>
							<li>
								<h4>
									rbac
								</h4>
								: función que contiene los permisos del usuario y detecta si está tratando de cargar una dirección válida para el o no.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-block"> 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingFour">
					<h2 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							../src/rutas.php
						</a>
					</h2>
				</div>
				<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					<div class="panel-body">
						Por último pero no por ello menos importante está el archivo de rutas, el cual contiene todas las llamadas posibles a las distintas secciones, clases, métodos y llamadas existentes en este frontend. Es el controlador de controladores, por así decir. Dado que es un archivo bastante largo, es muy posible que en un futuro haya que separarlo en archivos individuales dependiendo del grupo de rutas al que se refieran. Actualmente todas las rutas principales y no principales están aquí, y se conforman de la siguiente manera:

						<div class="card card-block">
							<div class="panel-group" id="accordion1-1" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">

									<div class="panel-heading" role="tab" id="headingOne-1">
										<h5 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion1-1" href="#collapseOne-1" aria-expanded="false" aria-controls="collapseOne-1">
												/tests
											</a>
										</h5>
									</div>
									<div id="collapseOne-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-1">
										<div class="panel-body">
											Las pruebas que se han realizado hasta el momento de las clases correspondientes al módulo PlanAnual:
											<ul>
												<li>CatalogoDeGastos</li>
												<li>GastoSemanal</li>
												<li>GastoProyectado</li>
												<li>Partida</li>
												<li>RepoCatalogo</li>
												<li>RepoGastosProyectados</li>
											</ul>
											Y otras pruebas de objetos de utilería:
											<ul>
												<li>Plantilla</li>
												<li>Tabla</li>
											</ul>
										</div>
									</div>

								</div>

								<div class="panel panel-default">

									<div class="panel-heading" role="tab" id="headingTwo-1">
										<h5 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1-1" href="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
												/reportes
											</a>
										</h5>
									</div>
									<div id="collapseTwo-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-1">
										<div class="panel-body">
											Páginas que se han generado en base a consultas complejas a la base de datos:
											<ul>
												<li>Alumnos con ultima semana regular y de vacaciones pagada</li>
												<li>Todas las carreras activas con última vez que se cambió la colegiatura</li>
											</ul>
										</div>
									</div>

								</div>

								<div class="panel panel-default">

									<div class="panel-heading" role="tab" id="headingThree-1">
										<h5 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1-1" href="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
												/api
											</a>
										</h5>
									</div>
									<div id="collapseThree-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-1">
										<div class="panel-body">
											Servicio API de módulos y clases de Sitece16. Recibe y entrega requests JSON de diversos tipos de datos como puede ser una cuenta, un cardex, una cantidad de gasto semanal, etc. <span class="font-italic">Próximamente en su cine favorito.</span>
										</div>
									</div>

								</div>

								<div class="panel panel-default">

									<div class="panel-heading" role="tab" id="headingFour-1">
										<h5 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1-1" href="#collapseFour-1" aria-expanded="false" aria-controls="collapseFour-1">
												/etc
											</a>
										</h5>
									</div>
									<div id="collapseFour-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-1">
										<div class="panel-body">
											Ruta para demás ocurrencias que vayan pasando. El resto de las clases de Sitece16? Demás cosas que se vayan ocurriendo? Goutte? El cielo es el límite.
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}