{# clases/Sitece16/Vistas/doc/estruc/clases.twig #}
{% extends '/base/base.api.twig' %}
{% block title %}docs SITECE16{% endblock %}
{% block contentTitle %}
	Estructura de clases
{% endblock %}
{% block content %}
<section id="estructuraClases">
	Hay que hacer aquí un arbolito de todas las clases en que se subdivide Sitece16 y documentar como se instancian y todo lo demás, pero por lo pronto esto dá una idea:
	<img src="{{ base_url() }}/img/muchascosasuuu.png"> 
</section>
{% endblock %}
