{% spaceless %}

	{% extends "basejson.twig" %}

	{% set titulo = 'Test de dataGrid'%}

	{% block contentTitle %}{{titulo}}{% endblock %}

	{% block head %}
		{% include 'datagrid.css.twig' %}
		<link rel="stylesheet" href="../../css/grid22.css">
	{% endblock %}

	{% block content %}
		<h2>
			Plan de Gastos - ICEP Villa de Álvarez
		</h2>
		{% include 'rejilla.twig' %}
	{% endblock %}

	{% block footer %}
		{% include 'base.js.twig' %}
		{% include 'vue.js.twig' %}
		<script src="../../js/grid.js"></script>
	{% endblock %}

{% endspaceless %}